* {
	margin:0;padding: 0;
}

/*header background image*/
.header {
	background-image: url("./fuchka.jpg");
	height: 60vh;
	width: 100%;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	opacity: 0.90;
	margin-bottom: 10px;: 
}

#logopic {
	margin-top: 4vh;
	margin-left: 15%;
	color: white;
}

#search-login {
	margin-top: 4vh;
	margin-left: 37%;
}

#register {

	margin-left: 15%;
	padding: 9px 20px;
	background-color: rgb(255,140,1);
	color: white;
	font-size: 16px;
	border-radius: 5px;
}

#login {	
	margin-right: 20px;
	padding: 9px 20px;
	background-color: rgb(255,140,1);
	color: white;
	font-size: 16px;
	border-radius: 5px;
}

.search {
	margin-left: 25%;
}

.search-block {
	height: 23vh;
	width: 60%;
	background-color: rgb(255,140,1);
	margin-top: 12vh;
	border-radius: 10px;
	padding: 7px 20px;

}

#search-btn {
	margin: 0 auto;
	border-radius: 5px;
	font-size: 16px;
}

#search-location {
	text-align: center;
	margin-top: 5px;
}

#search-label {
	color: white;
	font-size: 20px;
}

#location-label {
	color: white;
	font-size: 20px;
}

#text-input {
	width: 40%;
	height: 33px;
	border-radius: 5px;
}

#search-input {
	width: 40%;
	height: 33px;
	border-radius: 5px;
}


#search-btn {
	margin-top: 5px;
	margin-left: 24%;
	padding: 9px 30px;
	background-color: rgb(255,140,1);
	color: white;
	font-size: 16px;
}


/*how to section*/

.how-to {
	background-color: rgb(255,140,1);
	height: 30vh;
	width: 98%;
	margin: 0 auto;
	border-bottom: 2px solid red;
	margin-bottom: 10px;
}

#how-to img {
	height: 70px;
	width: 80px;
	margin-bottom: 10px;
}

#how-to {
	color: white;
	text-align: center;
	padding: 50px 20px;
}

/*hot trends section*/

.hot-trends {
	color: black;
	/*background-image: url("./hot_trends.jpg");*/
	height: 80vh;
	width: 100%;
	opacity: 0.9;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	padding: 10px 20px;
}

.hot-trends .row {
	padding: 10px;
}

.hot-trends h2 {
	margin-top: 10px;
	font-size: 27px;
	width: 40%;
	text-align: center;
	margin: 0 auto;
	padding: 9px ;
}

.hot-trends img {
	height: 14vh;
	width: 80%;
}

.hot-trends p {
	margin-top: 0;
	margin-bottom: 0;
	font-size: 12px;
}

.hot-trends .review {
	font-size: 15px;
}

.hot-trends .col-md-2 {
/*	background-color: rgb(69, 122, 61);*/

}



/*footer section*/

.footer {
	margin-top: 20px;
} 





